{{#b-order order=order portions=portions tabs=tabs}}
  {{#unless foundNothing}}
    <ul class="b-list b-order__content">
      {{#each groups as |group|}}
        <li class="b-list__item">
          {{b-product order=order
                      product=group.grouper
                      portions=order.portions
                      add=(action 'addToOrder' order group.grouper)
                      remove=(action 'removeFromOrder' order group.grouper)}}
        </li>
      {{/each}}
    </ul>

    {{b-order-actions order=order}}

  {{else}}
    {{b-blank-order}}
  {{/unless}}

  {{#if canAdd}}
    {{#link-to 'order.products' order.id class="i-button-create"}}{{/link-to}}
  {{else}}
    {{#link-to 'order.products' order.id class="i-button-create i-button-create_disabled"}}{{/link-to}}
  {{/if}}

{{/b-order}}
