{{#b-order order=order portions=portions tabs=tabs}}
  {{#unless foundNothing}}
    <ul class="b-list b-order__content">
      {{#each groupedPortions as |group|}}
        {{b-order-group order=order portions=group.list owner=group.grouper}}
      {{/each}}
    </ul>

    <div class="b-order__actions">
      {{#if canCheckout}}
        <button {{action "toggleActiveState"}} class="button button_submit">
          {{#if order.active}}Заблокировать<br>заказ{{else}}Разблокировать<br>заказ{{/if}}
        </button>
      {{/if}}

      {{#if canNotify}}
        {{#link-to 'order.notify' order.id class="button button_submit"}}
          Уведомить пользователей
        {{/link-to}}
      {{/if}}
    </div>

  {{else}}
    {{b-blank-order}}
  {{/unless}}

  {{#if canAdd}}
    {{#link-to 'order.products' order.id class="i-button-create"}}{{/link-to}}
  {{else}}
    {{#link-to 'order.products' order.id class="i-button-create i-button-create_disabled"}}{{/link-to}}
  {{/if}}

{{/b-order}}
