<div class="b-portion__row">

  {{#if canDelete}}
    <button class="b-portion__remove-btn btn-remove" {{action 'remove' portion}}></button>
  {{else}}
    <button class="b-portion__remove-btn btn-remove _disabled"></button>
  {{/if}}
  <div class="b-portion__text">
    {{#if portion.product}}
      {{portion.product.name}}
    {{else}}
      {{portion.text}}
    {{/if}}
  </div>
  <div class="b-portion__cost">{{format-currency portion.cost}}</div>
  {{b-checkbox checked=portion.paid disabled=isManager
               onchange=(action 'togglePaid' portion)}}
</div>
