<div class="b-product b-product-group__grouper">
  <div class="b-product__image"></div>
  <div class="b-product__body">
    <div class="b-product__name">{{product.name}}</div>
    <div class="b-product__text b-product__text_truncated">{{product.text}}</div>
  </div>
  <div class="b-product-cost b-product-cost_right b-product__cost">
    <div class="b-product-cost__total">{{format-currency productTotalCost}}</div>
    <div class="b-product-cost__description">
      <span class="b-product-cost__value">=&nbsp;{{format-currency product.cost}}</span>
      <span class="b-product-cost__quantity">×&nbsp;{{productQuantity}}</span>
    </div>
  </div>
</div>

<ul class="b-list b-product-group__list">
  {{#each uniqueProductPersons as |person|}}
    <li class="b-list__item b-product-group__item b-product-group__item_alone">
      <div class="b-product-group__body">
        <span class="b-person b-person_muted">
          <span class="b-person__name">{{person.displayName}}</span>
        </span>
        {{b-product-group-cost product=product person=person portions=productPortions}}
      </div>
    </li>
  {{/each}}
</ul>
