<div class="b-product__image"></div>
<div class="b-product__body">
  <div class="b-product__name">{{product.name}}</div>
  <div class="b-product__text">{{product.text}}</div>
  <div class="b-product-cost b-product-cost_invert b-product__cost">
    <span class="b-product-cost__value">{{format-currency product.cost}}</span>
    {{#if inOrder}}
      <span class="b-product-cost__description">
        <span class="b-product-cost__quantity">×&nbsp;{{productQuantity}}&nbsp;=</span>
        <span class="b-product-cost__total">{{format-currency productTotal}}</span>
      </span>
    {{/if}}
  </div>
</div>
<div class="b-product__control">
  {{#if inOrder}}
    {{b-product-quantity quantity=productQuantity
                         canAdd=canAdd add=(action 'add')
                         canRemove=canRemove remove=(action 'remove')}}
  {{else}}
    {{#if canAdd}}
      <button class="button button_submit" {{action 'add'}}>Добавить</button>
    {{else}}
      <button class="button button_submit button_disabled">Добавить</button>
    {{/if}}
  {{/if}}
</div>
