<div class="b-product__image"></div>
<div class="b-product__body">
  <div class="b-product__name">{{product.name}}</div>
  <div class="b-product__text">{{product.text}}</div>
  <div class="b-product__cost">{{format-currency product.cost}}</div>
</div>
<div class="b-product__control">
  {{#if inOrder}}
    <button class="button button_submit" {{action 'remove'}}>Удалить</button>
  {{else}}
    <button class="button button_submit" {{action 'add'}}>Добавить</button>
  {{/if}}
</div>
