<form class="f-default f-portion">

  <h2 class="f-default__title f-portion__title">Добавить к заказу</h2>

  <div class="b-order">
    {{b-order-description order=order}}
  </div>

  <div class="f-default__wrapper">
    {{b-selectize content=products
                  optionValuePath='content.id'
                  optionLabelPath='content.name'
                  selectItem=(action 'selectProduct')
                  valuePath='product'
                  model=this
                  placeholder='Заказ'}}

    {{b-textarea model=this valuePath='text' rows='2' placeholder='Комментарий'}}
    {{b-input model=this type='tel' valuePath='cost' placeholder='Сумма' disabled=productSelected}}
  </div>

  <button {{action "submit"}} class="button _submit">Добавить</button>
</form>
