<div class="wrapper {{openClass}} {{authClass}}">
  {{#if session.isAuthenticated}}
    <aside class="s-sidebar">
      <ul class="m-site" role="navigation" aria-label="main site menu" {{action 'hideMenu'}}>
        <li class="m-site__item">
          {{#link-to "orders" class="m-site__link"}}
            {{i-order-list}} Заказы
          {{/link-to}}
        </li>
        <li class="m-site__item">
          {{#link-to "vendors" class="m-site__link"}}
            {{i-vendors}} Места
          {{/link-to}}
        </li>
        <li class="m-site__item">
          {{#link-to "account" class="m-site__link"}}
            {{i-settings}} Настройки
          {{/link-to}}
        </li>
        <li class="m-site__item _desktop-item">
          <button class="m-site__link" {{action 'invalidateSession'}}>
            {{i-logout}} Выйти
          </button>
        </li>
      </ul>
    </aside>
  {{/if}}

  <a href="/" class="i-logo">Yummy Time</a>
  <header class="s-header">
    {{#if session.isAuthenticated}}
      <button class="btn-menu" aria-label="toggle site menu" {{action "slide"}}>
        <span></span>
        <span></span>
        <span></span>
      </button>
    {{/if}}

    {{#if session.isAuthenticated}}
      <button class="btn-logout" {{action 'invalidateSession'}}>
        {{i-logout}}
      </button>
    {{/if}}
  </header>

  <div class="wrapper__content" {{action "hideMenu"}}>
    <section class="s-content">
      <div class="container">
        {{outlet}}
      </div>
    </section>
  </div>
</div>
